In [0]:
df=pd.read_excel('InsuranceEligibility.xlsx')

In [55]:
df.head(10)

  Nationality EconomicStatus  ... History of Cardiac Disease Eligibility
0       India           Poor  ...                         No           0
1       India           Poor  ...                        Yes           0
2       India           Poor  ...                         No           1
3       India           Poor  ...                        Yes           0
4       India           Poor  ...                         No           1
5       India           Poor  ...                        Yes           0
6       India           Poor  ...                         No           1
7       India           Poor  ...                        Yes           0
8       India           Rich  ...                         No           1
9       India           Rich  ...                        Yes           1

[10 rows x 6 columns]

In [0]:
from copy import deepcopy
def gini(daf,c):

  '''This Function calculates the gini index  for each features of the 
  dataframe except for the features speccified in the c parameter'''
  
  col=deepcopy(c)  # deepcopy - any changes made in the duplicate list  will not affect the original list
  val=1
  values=daf[col].unique()
  x=(daf.groupby(col))['Eligibility'].agg('count')
  for i in x:
    val-=(i/sum(x))**2
  return val,values

In [0]:
def cover(df,x):

  '''This Function splits the parent node into left and right node
   by calling the gini function''' 
  
  ex=deepcopy(x)  # deepcopy - any changes made in the duplicate list  will not affect the original list
  dic=[]
  cols=list(df.columns[:-1])
  if len(ex)>0:
    for splitted in ex: 
      cols.remove(splitted)
  for i in cols:
    z,values=gini(df,i)
    dic.append((i,z,values))
  dic.sort(key=lambda x:x[1])
  ref=dic[0]
  ex.append(ref[0])
  l=new_daf=df[df[ref[0]]==ref[2][0]]
  r=new_daf=df[df[ref[0]]==ref[2][1]] 
  return l,r,ex

In [63]:
def split(df,p_c):
  '''This function is called recursively to 
  split the dataset ny calling the cover function '''
  processed_cols=deepcopy(p_c)
  l,r,c=cover(df,processed_cols)
  if len(l['Eligibility'].unique())>1:
    split(l,c)
  else:
    print(l)
    print('\n')  
  if len(r['Eligibility'].unique())>1:
    split(r,c)
  else:
    print(r)
    print('\n')
lst=[]    
print('The Leaves/ Terminal Nodes are :\n')    
split(df,lst)

The Leaves/ Terminal Nodes are :

  Nationality EconomicStatus  ... History of Cardiac Disease Eligibility
0       India           Poor  ...                         No           0
1       India           Poor  ...                        Yes           0

[2 rows x 6 columns]


  Nationality EconomicStatus  ... History of Cardiac Disease Eligibility
2       India           Poor  ...                         No           1

[1 rows x 6 columns]


  Nationality EconomicStatus  ... History of Cardiac Disease Eligibility
3       India           Poor  ...                        Yes           0

[1 rows x 6 columns]


  Nationality EconomicStatus  ... History of Cardiac Disease Eligibility
4       India           Poor  ...                         No           1

[1 rows x 6 columns]


  Nationality EconomicStatus  ... History of Cardiac Disease Eligibility
5       India           Poor  ...                        Yes           0

[1 rows x 6 columns]


  Nationality EconomicStatus  ... History of Cardiac Disease Eligibility
6       India           Poor  ...                         No           1

[1 rows x 6 columns]


   Nationality EconomicStatus  ... History of Cardiac Disease Eligibility
7        India           Poor  ...                        Yes           0
22       India           Poor  ...                        Yes           0
44       India           Poor  ...                        Yes           0
47       India           Poor  ...                        Yes           0

[4 rows x 6 columns]


   Nationality EconomicStatus  ... History of Cardiac Disease Eligibility
8        India           Rich  ...                         No           1
9        India           Rich  ...                        Yes           1
10       India           Rich  ...                         No           1
11       India           Rich  ...                        Yes           1
23       India           Rich  ...                         No           1
24       India           Rich  ...                        Yes           1
25       India           Rich  ...                         No           1
26       India           Rich  ...                        Yes           1
31       India           Rich  ...                         No           1
32       India           Rich  ...                        Yes           1
33       India           Rich  ...                         No           1
34       India           Rich  ...                        Yes           1
49       India           Rich  ...                         No           1

[13 rows x 6 columns]


   Nationality EconomicStatus  ... History of Cardiac Disease Eligibility
12       India           Rich  ...                         No           1
27       India           Rich  ...                         No           1
35       India           Rich  ...                         No           1

[3 rows x 6 columns]


   Nationality EconomicStatus  ... History of Cardiac Disease Eligibility
13       India           Rich  ...                        Yes           0
28       India           Rich  ...                        Yes           0
36       India           Rich  ...                        Yes           0

[3 rows x 6 columns]


   Nationality EconomicStatus  ... History of Cardiac Disease Eligibility
14       India           Rich  ...                         No           1
15       India           Rich  ...                        Yes           1

[2 rows x 6 columns]


      Nationality EconomicStatus  ... History of Cardiac Disease Eligibility
16  Rest of World           Poor  ...                         No           0
17  Rest of World           Poor  ...                        Yes           0
18  Rest of World           Poor  ...                         No           0
19  Rest of World           Poor  ...                        Yes           0
40  Rest of World           Poor  ...                         No           0
41  Rest of World           Poor  ...                        Yes           0

[6 rows x 6 columns]


      Nationality EconomicStatus  ... History of Cardiac Disease Eligibility
20  Rest of World           Poor  ...                         No           0
21  Rest of World           Poor  ...                        Yes           0
42  Rest of World           Poor  ...                         No           0
43  Rest of World           Poor  ...                        Yes           0

[4 rows x 6 columns]


      Nationality EconomicStatus  ... History of Cardiac Disease Eligibility
29  Rest of World           Poor  ...                         No           0

[1 rows x 6 columns]


      Nationality EconomicStatus  ... History of Cardiac Disease Eligibility
30  Rest of World           Poor  ...                        Yes           1

[1 rows x 6 columns]


      Nationality EconomicStatus  ... History of Cardiac Disease Eligibility
37  Rest of World           Rich  ...                         No           1
38  Rest of World           Rich  ...                        Yes           1
39  Rest of World           Rich  ...                         No           1
45  Rest of World           Rich  ...                        Yes           1

[4 rows x 6 columns]


      Nationality EconomicStatus  ... History of Cardiac Disease Eligibility
46  Rest of World           Rich  ...                         No           0
48  Rest of World           Rich  ...                        Yes           0
50  Rest of World           Rich  ...                         No           0
51  Rest of World           Rich  ...                        Yes           0

[4 rows x 6 columns]